/* Set default font to Courier New for the entire page */
body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}


p {
    margin: 0;
}

.job {
    padding-bottom: 20px;
}

.work-title, .contact-title {
    font-weight: bold;
}

.job-title {
    font-style: italic;
}